<div class="page">

  <div class="text-center">
    <h1 class="font">Procvičování matematiky</h1>

    <p class="font-smallest">
      Získej deset odznaků jednorožce!
    </p>

    <p class="font-smallest">
      Za každý správně vypočítaný příklad získáš jeden odznak.
    </p>

    <p class="font-mistake-smallest">
      Když ale výsledek nebude správný o jeden příjdeš.
    </p>

    <div class="container">
      <h2 class="font-smaller">
        Vyber co chceš procvičovat
      </h2>

      <button type="button" routerLink="/addition">
        Sčítání +
      </button>

      <button type="button" routerLink="/subtraction">
        Odčítání -
      </button>

      <button type="button" routerLink="/logic">
        Znaménka &gt; &lt; =
      </button>
    </div>
  </div>

  <div class="text-center">
    <a routerLink="/about" class="button-no-background">
      O aplikaci
    </a>
  </div>

</div>
