.font {
  font-family: 'Honk', sans-serif;
  font-size: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.font-smaller {
  font-family: 'Honk', sans-serif;
  font-size: 3vw;
}

.container {
  background-color: #ffc0cb;
  border-radius: 10px;
  margin-top: 1vh;
  padding: 0 2vw;
  text-align: center;
  height: auto;
  width: auto;
}

button {
  background-color: #ffc0cb;
  font-family: 'Honk', sans-serif;
  font-size: 3vw;
  border: none;
  margin: 1vh;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
